node_modules/
dist/
mac/dist/
out/
.webpack/
*.zip
.DS_Store
.tmp/
sftp.json
.env
windows/publish/*.appxbundle
windows/publish/*.exe
windows/dist/
windows/work/
.!*!package.json
mac/Sparkle.framework/
mac/Sparkle_bin/
