node_modules/
mac/build/
out/
.webpack/
*.zip
.DS_Store
.tmp/
sftp.json
.env
windows/build/*.appxbundle
/SFTPGenerator.appxbundle
windows/build/*.exe
windows/build/
windows/work/
.!*!package.json
mac/Sparkle.framework/
mac/Sparkle_bin/
